 @font-face {
  font-family: "roboto";
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
}

.header-r {
    display: flex;
    position: absolute;
    left: 80%;
    margin-left: auto;
}

.d-flex {
    display: contents;
    justify-content: center;
    
    left: 25%;
    border-radius: 100px;
    background: #608575;
    padding: 10px;
    width: 800px;
}

.form-control{
    border-radius: 20rem;
}

.navbar {
    position: unset;
    background-color: #AACDBE;
    justify-content: space-evenly;
    font-family: 'roboto', serif;
    font-weight: 300;
    overflow: auto;
<<<<<<< HEAD
}
=======
}
>>>>>>> f1f677814b04a405b2e888b698bc1ee79697b8b0
