.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

/* Row correspond au background des produits (un espece de block jaune que j'arrivais pas à enlever) */
.row{
  background-color: white;
}
