
/* .total-footer{
    position: absolute;
    justify-content: end ;
    top: 200vh;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(0, 0, 0);
  
    
} */
/* .footer-content{
  
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(251, 255, 202);
    
}
.footer-content h3{
    height: 10px;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #000000; 
}*/
.footer-bottom{
  
  
    background: rgb(98, 133, 118);
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#f0f0f0;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom p a:hover{
    color:#44bae8;
  }
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #ebebeb;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color:  #44bae8;
}


